
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  font-family: 'Poppins', sans-serif;
}


.login-container {
  background-color: #fff;
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 10px;
  color: #1f1f1f;
  font-size: 24px;
}

.login-subtitle {
  color: gray;
  margin-bottom: 25px;
  font-size: 14px;
}


.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;

}

.login-container input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 15px;
  outline: none;
  transition: all 0.2s ease;
}

.login-container input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.3);
}


.btn-login button {
  width: 100px;
  margin-top: 25px;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  transition: 0.3s;
}

.btn-login button:hover {
  background-color: #2563eb;
}


.login-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.login-container a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
}

.login-container a:hover {
  text-decoration: underline;
}
